{% extends 'admin.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('artiste_index') }}">Retour</a>
{% endblock %}
